@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/* UTILITY CLASSES */

:root {
    --color-grey900: #0B0F19;
    --color-grey800: #33354D;
    --color-grey700: #565973;
    --color-grey600: #9397AD;
    --color-grey500: #B4B7C9;
    --color-grey400: #D4D7E5;
    --color-grey300: #E2E5F1;
    --color-grey200: #EFF2FC;
    --color-grey100: #F3F6FF;
    --color-white: #FFF;
  
    --color-primary: #6366F1;
    --color-primary-hover: hsl(239, 84%, 70%);
    --color-primary-opacity: rgb(99, 102, 241, .3);
    --color-gradient: #6366F1 hsl(293, 84%, 35%) hsl(225, 75%, 97%);
  
    --color-error: #EF4444;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
  
  
    --transition: .2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-grey700);
    font-size: 16px;
} 

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* LINKS */

a {
    text-decoration: none;
}
a:hover {
    text-shadow: 0 0 10px var(--color-primary);
    transition: .2s;
}




/* BUTTONS */

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 14px;
    padding: .5em 1.5em;
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.btn-primary:hover {
    box-shadow: inset 0 0 5px #d1d1ffc5;
}

.btn-app-download {
    background-color: var(--color-grey900);
    color: var(--color-white);
    padding: .5em 1.5em;
    border-radius: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.btn-app-download:hover {
    background-color: var(--color-grey700);
    box-shadow: inset 0 0 10px 5px var(--color-grey800);
}

.btn-circle {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 2px var(--color-grey700);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-circle:hover {
    box-shadow: inset 0 0 3px 0 #3e40be4d;
}






/* HEADER */

header .container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    padding: 1rem;

    #logo {
        background-color: transparent;
    }
    .navbar {
        display: none;
    }
    .nav-link {
        color: var(--color-grey800);
        font-weight: 700;
        padding: .1em .4em;
        background-color: var(--color-white);
    }
    .btn-toggle-switch {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 1rem;

        .label{
            display: none;
            color: var(--color-grey700);
            font-weight: 600;
        }
    }
    #signin {
        display: none;
    }   
    .btn-mobile-menu {
        border: none;
        background-color: transparent;
        font-size: 24px;
        
    }
}

.switch {
    --_height: 25px;
    --_width: 48px;
  
    width: var(--_width);
    height: var(--_height);
    position: relative;
    display: inline-block;
  
    input[type="checkbox"] {
      width: 0;
      height: 0;
    }

    input[type="checkbox"]:focus-visible ~ .slider {
      outline: 1px solid var(--color-grey800);
      outline-offset: 2px;
    }
  
    .slider {
      position: absolute;
      inset: 0;
      background-color: var(--color-grey600);
      border-radius: 100vw;
      cursor: pointer;
      box-shadow: 0 5px 7px 1px var(--color-primary-opacity);
    }
  
    .slider::before {
      height: 74%;
      aspect-ratio: 1;
      border-radius: 50%;
      top: 50%;
      left: 6%;
      transform: translateY(-50%);
      content: '';
      position: absolute;
      background-color: var(--color-white);
      transition: all .2s;
    }
  
    input[type="checkbox"]:checked ~ .slider::before {
      left: calc(106% - var(--_height));
    }
    input[type="checkbox"]:checked ~ .slider {
        background-color: var(--color-primary);
      
    }
  }




/* MAIN */

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.10127801120448177) 0%, rgba(218,70,239,0.04525560224089631) 42%, rgba(241,244,253,0.06766456582633051) 83%);
    padding-bottom: 2rem;


    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:    "headline"
                                "content";
    }

    .headline {
        text-align: center;
        grid-area: headline;

        h1 {
            color: var(--color-grey900);
            font-weight: 800;
            font-size: 34px;
            margin-bottom: 3rem;
        }
    }

    .content {
        text-align: center;
        grid-area: content;

        p {
            font-size: 18px;
            margin-bottom: 3rem;
        }
        .buttons-app {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .discover-more {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            gap: 1rem;
            color: var(--color-grey900);
        }
    }

    .images {
        position: relative;
        display: none;
        grid-area: images;
    }
}


/* COMPANY LOGOS */
.logo-row {
    display: none;
}


/* APP FEATURES */

.app-features {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .header {
        margin-bottom: 2rem;
        grid-area: header;

        h2 {
            font-size: 28px;
            font-weight: 800;
            color: var(--color-grey900);
            padding: 2rem;
            text-align: center;
        }
        #features-head-text{
            font-size: 18px;
            color: var(--color-grey800);
            text-align: center;
        }
    }
    .images {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        p{
            grid-area: p;
        }
        h3 {
            grid-area: h3;
            font-size: 20px;
            font-weight: 800;
            color: var(--color-grey900);
        }
        .features {
            grid-area: features;
            display: grid;
            gap: 1rem;
            width: 100%;
            justify-content: left;
            grid-template-columns: auto auto;
            grid-template-areas:    "card h3"
                                    "card p";
        }
        .img {
            width: 60px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-grey200);
            border-radius: .5em;
            grid-area: card;
        }
    }
}


/* FOOTER */

footer .container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




/* MEDIA QUERIES */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    header .container {
        gap: 3rem;

        .btn-toggle-switch .label {
            display: block;
        }
    }

    #hero {
        padding-bottom: 0;
    }
    #hero .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "headline headline"
                                "content images";
        gap: 2rem;

        h1 {
            font-size: 44px;
        }
        .content {
            text-align: left;
        }
        .discover-more {
            justify-content: flex-start;
            margin-bottom: 3rem;
        }
        .images {
            display: block;
        }
        .iphone-back {
            position: absolute;
            z-index: 5;
            bottom: 0;
            right: 110px;
            width: 70%;
            height: auto;
        }
        .iphone-front {
            position: absolute;
            z-index: 10;
            bottom: 0;
            right: 0;
            width: 70%;
            height: auto;
        }
    }

    .logo-row {
        display: flex;
    }
    .logo-row .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        #logo5, #logo6 {
            display: none;
        }
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-grey300);
            border-radius: 8px;
            width: 160px;
            padding-left: .5rem;
            padding-right: .5rem;
            height: 70px;
            box-shadow: 0 0 4px var(--color-grey300);
        }
    }

    .app-features .content {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "header header"
                                "payments security"
                                "statistics support"
                                "cashback standards";

        #f1 {
            grid-area: payments;
        }
        #f2 {
            grid-area: security;
        }
        #f3 {
            grid-area: statistics;
        }
        #f4 {
            grid-area: support;
        }
        #f5 {
            grid-area: cashback;
        }
        #f6 {
            grid-area: standards;
        }
    }
    
}
    


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    header .container {
        grid-template-columns: auto 1fr auto auto;

        .navbar {
            display: block;
        }
        #signin {
            display: block;
        }
        .btn-mobile-menu {
            display: none;
        }
    }
    
    #hero .container {
        grid-template-areas:    "headline images"
                                "content images";

        h1 {
            font-size: 56px;
            text-align: left;
            margin-top: 100px;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 2rem;
        }
        .buttons-app {
            flex-direction: row;
        }
        .discover-more {
            margin-top: 16rem;
        }
        .iphone-back {
            right: 250px;
            width: auto;
        }
        .iphone-front {
            right: 0px;
            width: auto;
        }
    }

    .logo-row .container {
        .logo {
            width: 200px;
            height: 100px;
        }
        #logo5, #logo6 {
            display: flex;
        }

    }
    .app-features .container {
        
        .images {
            display: block;
            position: relative;
        }
        #iphone-features {
            position: absolute;
            z-index: 1;
        }
        #card-features {
            position: absolute;
            top: 100px;
            z-index: 2;
        }
        
    }
}